section(class="top-section" style="")
  header(class="top-section-header")
    div(class="top-section-header-logo")
      a(href="#") MoGo
    nav(class="top-section-header-menu")
      ul
        li
          a(href="#") About
        li
          a(href="#") service
        li
          a(href="#") work
        li
          a(href="#") blog
        li
          a(href="#") contact
        li
          a(href="#")
            i(class="fa fa-shopping-cart")
        li
          a(href="#")
            i(class="fa fa-search")
  div(class="top-section-banner")
    h1 Creative Template
    p Welcome <br>to MoGo
  a(href="#" class="top-section-learn-more") learn more
  footer(class="top-section-footer")
    div(class="top-section-footer-items")
      div(class="top-section-footer-items-item footer-item-active")
        div(class="category")
          p
            span 01
            |  Intro


      div(class="top-section-footer-items-item")
        div(class="category")
          p
            span 01
            |  Intro

      div(class="top-section-footer-items-item")
        div(class="category")
          p
            span 01
            |  Intro

      div(class="top-section-footer-items-item")
        div(class="category")
          p
            span 01
            |  Intro
