section(class="sec-about")
    header(class="sec-about-header")
        h2 What we do
        h3 Story about us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    div(class="sec-about-team")
        div(class="sec-about-team-item")
            img(src="./img/pic-3.jpg")
            div(class="sec-about-team-item-hidden")
                img(src="./img/users.svg" alt="team")
                p super team
        div(class="sec-about-team-item")
            img(src="./img/pic-2.jpg")
            div(class="sec-about-team-item-hidden")
                img(src="./img/users.svg" alt="team")
                p super team
        div(class="sec-about-team-item")
            img(src="./img/pic-1.jpg")
            div(class="sec-about-team-item-hidden")
                img(src="./img/users.svg" alt="team")
                p super team
    footer(class="sec-about-footer")
        div(class="sec-about-footer-item")
            span 42
            p Web Design Projects
        div(class="sec-about-footer-item")
            span 123
            p happy client
        div(class="sec-about-footer-item")
            span 15
            p award winner
        div(class="sec-about-footer-item")
            span 99
            p cup of coffee
        div(class="sec-about-footer-item")
            span 24
            p members