section(class="sec-about")
    header(class="sec-about-header")
        h2 We work with
        h3 amazing services
    div(class="sec-about-services")
        div(class="sec-about-services-item")
            img(src="img/alarm.png")
            div(class="sec-about-services-item-text")
                h3 Photography
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.


        div(class="sec-about-services-item")
            img(src="img/line.png")
            d(class="sec-about-services-item-text")
                h3 web design
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.


        div(class="sec-about-services-item")
            img(src="img/comp.png")
            div(class="sec-about-services-item-text")
                h3 creativity
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.


        div(class="sec-about-services-item")
            img(src="img/book.png")
            div(class="sec-about-services-item-text")
                h3 seo
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.


        div(class="sec-about-services-item")
            img(src="img/home.png")
            div(class="sec-about-services-item-text")
                h3 css/html
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

        div(class="sec-about-services-item")
            img(src="img/image.png")
            div(class="sec-about-services-item-text")
                h3 digital
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
