section(class="footer")
    div(class="footer__description")
        h2 MoGo
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div(class="followers")
            p
                span 15k
                | followers
            div(class="soc")
                span Follow Us:
                a(href="#")
                    i(class="fa fa-facebook-f")
                a(href="#")
                    i(class="fa fa-instagram")
                a(href="#")
                    i(class="fa fa-twitter")
                a(href="#")
                    i(class="fa fa-vk")
                a(href="#")
                    i(class="fa fa-youtube")
            input(type="text" placeholder="Your Email...")
            input(type="submit" value="Subscribe")
    div(class="footer__blogs")
        h2 Blogs
        div(class="blogs__item")
            a(href="#")
                img(src="./img/footer-1.png")
            div(class="item__info")
                a(href="#")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing
                span Jan 9, 2018

        div(class="blogs__item")
            a(href="#")
                img(src="./img/footer-2.png")
            div(class="item__info")
                a(href="#")
                    p Consectetur adipiscing elit,sed do eiusmod tempo
                span Jan 12, 2018

        div(class="blogs__item")
            a(href="#")
                img(src="./img/footer-3.png")
            div(class="item__info")
                a(href="#")
                    p sed do eiusmod tempor incididunt ut labor
                span Jan 18, 2018

    div(class="footer__instagram")
        h2 Instagram
        img(src="./img/inst-1.png")
        img(src="./img/inst-2.png")
        img(src="./img/inst-3.png")
        img(src="./img/inst-4.png")
        img(src="./img/inst-5.png")
        img(src="./img/inst-6.png")
        img(src="./img/inst-7.png")
        img(src="./img/inst-8.png")
        img(src="./img/inst-9.png")
        p
            a(href="#") View more photos
    p(class="copy") © 2018 MoGo

